asgiref
certifi
charset-normalizer
django
djangorestframework
filelock
fsspec
hf-xet
huggingface-hub
idna
numpy
packaging
pyyaml
regex
requests
safetensors
sqlparse
tokenizers
tqdm
transformers
typing-extensions
urllib3
channels
channels-redis
speechrecognition
pydub
django-cors-headers
daphne
